.light-medium-contrast {
  --md-sys-color-primary: rgb(140 0 0);
  --md-sys-color-surface-tint: rgb(192 0 0);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(235 0 0);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(140 0 0);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(215 57 41);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(94 59 0);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(161 105 0);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(140 0 9);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(218 52 46);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(255 248 246);
  --md-sys-color-on-background: rgb(43 22 19);
  --md-sys-color-surface: rgb(255 248 246);
  --md-sys-color-on-surface: rgb(43 22 19);
  --md-sys-color-surface-variant: rgb(255 218 212);
  --md-sys-color-on-surface-variant: rgb(91 58 53);
  --md-sys-color-outline: rgb(123 86 80);
  --md-sys-color-outline-variant: rgb(153 113 107);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(66 42 39);
  --md-sys-color-inverse-on-surface: rgb(255 237 234);
  --md-sys-color-inverse-primary: rgb(255 180 168);
  --md-sys-color-primary-fixed: rgb(235 0 0);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-primary-fixed-dim: rgb(188 0 0);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-secondary-fixed: rgb(215 57 41);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-secondary-fixed-dim: rgb(180 30 18);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-tertiary-fixed: rgb(161 105 0);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-tertiary-fixed-dim: rgb(128 82 0);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-surface-dim: rgb(248 209 203);
  --md-sys-color-surface-bright: rgb(255 248 246);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(255 240 238);
  --md-sys-color-surface-container: rgb(255 233 230);
  --md-sys-color-surface-container-high: rgb(255 226 221);
  --md-sys-color-surface-container-highest: rgb(255 218 212);
}
